<!DOCTYPE html>

<html> 
  <head>
    <title>RecipeManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <% if logged_in? %>
    <%= link_to "Log out", logout_path, method: :delete %>
      <h1><%= link_to current_user.name, user_path(current_user.id) %></h1>
   <%end%>

    <h2><%= link_to "Categories", categories_path %></h2>
    <h2><%= link_to "Recipes", recipes_path %></h2>
   
  </header>

  <body>
    <%= yield %>
  </body>
</html>
