<!DOCTYPE html>

<html> 
<% if logged_in? %>
  <h1><%= link_to current_user.name, user_path(current_user.id) %></h1><%= link_to "Log out", logout_path, method: :delete %>
  <%end%>
  <head>
    <title>RecipeManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
